/* Corrige bug de zoom do Leaflet no tema Academic/Wowchemy */
.article-container,
.article-style,
main#content {
  transform: none !important;
  perspective: none !important;
  overflow: visible !important;
  contain: none !important;
}

#map,
.leaflet-container {
  position: relative !important;
  transform: none !important;
  width: 100% !important;
  height: 100vh !important;
  z-index: 1 !important;
}
